#grannyContainer {
    width: 800px;
    height: 800px;
    position: relative;
    background: yellow;
}
#grannyAnimation {
    width: 50px;
    height: 58px;
    position: absolute;
    background-image:url('granny.jpg');

}
#moneyAnimation {
    width: 34px;
    height: 32px;
    position: absolute;
    background-image:url('10zl_small.jpg');
}

